*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.hearth{
  width:220px;
  position: relative;
  height:220px;
  background: red;
  transform: rotate(45deg);
  box-shadow: 0 0 50px red;
}
.hearth::before{
 content: "";
 position: absolute;
 width:100%;
  height:100%;
  top:0;
  left:-50%;
  border-radius: 50%;
  background: red;
  transform: rotate(45deg);
  box-shadow: 0 0 50px red;
}
.hearth::after{
  content: "";
  position: absolute;
  width:100%;
   height:100%;
   top:-50%;
   left:0;
   border-radius: 50%;
   background: red;
   transform: rotate(45deg);
   box-shadow: 0 0 50px red;
}
.hearthBx{
  animation: animate alternate 0.5s infinite  ;
}
@keyframes  animate {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.2);
  }
}
.footer{
  position: relative;
  display: inline-block;
}
.name {
  position: absolute;
  display: flex;
  list-style-type: none;
  left: -241px;
  bottom: 9px;
  font-size: 70px;
  font-family: cursive;
  font-weight: 550;
  font-style: oblique;
  color: thistle;
}
.footer-name{
  position: absolute;
  color:azure;
  font-size:13px;
  bottom:-5px;
  margin-bottom: 46px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 12px;
}
.footer-icon{
  color:red;
  opacity: 0.8;
  font-size: 22px;
  font-weight: 450;
}